body, html, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: white;
  overflow: hidden;
}

*, :after, :before {
  box-sizing: inherit;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app, .app > div {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Component */
.text-bpm-a {
  font-size: 2em;
  font-weight: bold;
  font-family: sans-serif;
}

.text-bpm-b {
  font-family: sans-serif;
  font-size: 1.2em;
}

.fatigue__fade {
  stroke: #ff8f3252;
}

.calories__fade {
  stroke: #3759ff52;
}

.progress__container {
  overflow: hidden;
  display: flex;
  flex: 1;
}

.progress__circle {
  fill: transparent;
  stroke-linecap: round;
}

.fatigue__value {
 stroke: #ff8f32;
}

.calories__value {
 stroke: #3759ff;
}

.group {
  opacity: 0;
  transition: opacity 0.2s;
}

.fatigue__sphere {
  fill: #ff8f32;
}

.calories__sphere {
  fill: #3759ff;
}

/* .fat-carb {
  padding: 5px;
} */

.fat-carb__head {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  font-size: 1.5em;
}

.card-count-1 .fat-carb__head,
.card-count-2 .fat-carb__head,
.card-count-3 .fat-carb__head {
  font-size: 2em;
}


.card-count-1 .card__title,
.card-count-2 .card__title,
.card-count-3 .card__title {
  padding: 40px;
  font-size: 1.5em;
}


.fat-carb__val {
    font-weight: bold;
    font-size: 2em;
}

.fat-carb__label {
    font-size: 1.2em;
  padding-left: 5px;
}

.fat-carb__progress {
    height: 16px;
    background-color: #efd07b;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.fat-carb__slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #c4382e;
}

.sidebar {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.7em;
}

.sidebar__list {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__duration {
  font-size: 2em;
}

.sidebar__duration > span:last-child {
  font-weight: bold;
}

.cards-wrapper {
  display: flex;
  flex: 5;
}

.cards {
  display: grid;
  width: 100%;
  padding: 15px;
  grid-gap: 15px;
}

.card {
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: inset 0 0 0 2px #6357a0;
  border-radius: 0.6em;
  background-color: #1f1531;
  cursor: pointer;
  transition: all .3s;
}

.card--performance .progress__container{
  display: none;
}

.card h2 {
  font-size: 2em;
  margin-bottom: 5px;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}

.card h4 {
  font-size: 1.3em;
  margin: 0 0 15px;
  font-weight: 400;
  letter-spacing: 0.08em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__title--calories {
  display: flex;
  align-items: baseline;
}

.card__title--calories > div:first-child {
  font-size: 2em;
  margin-right: 5px;
  font-weight: 500;
}

.card__title--calories > div:last-child {
  font-size: 1.4em;
  font-weight: 300;
}

.list__item {
  display: flex;
  margin-bottom: calc(7vh - 32px);
}

.list__item > div:last-child {
  flex: 1;
}

.list__item > div:first-child {
  width: 50px;
  color: #6357a0;
}

.fullscreen {
  transition: opacity 0.4s;
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 5;
}

:fullscreen .fullscreen {
  opacity: 0;
}

:-webkit-full-screen {
  background-color: #000;
}

/* Firefox syntax */
:-moz-full-screen {
  background-color: #000;
}

/* IE/Edge syntax */
:-ms-fullscreen {
  background-color: #000;
}

/* Standard syntax */
:fullscreen {
  background-color: #000;
}

.c {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.card.done .c {
  background-color: #8BC34A;
}

.great-job {
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0.5);
  /* z-index: -1; */
}

.card-count-1 .great-job,
.card-count-2 .great-job,
.card-count-3 .great-job {
  font-size: 1.6em;
}

.card--finished .great-job {
  opacity: 1;
  z-index: 1;
}

.great-job__title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 0 30px;
  margin-bottom: 20px;
}

.card-count-1 .great-job__title,
.card-count-2 .great-job__title,
.card-count-3 .great-job__title {
  margin-bottom: 100px;
}


/* .card--finished .great-job__title {
  opacity: 1;
  transform: translateY(0px);
} */

/* .card--disabled .great-job__title {
  transform: translateY(-40px);
  transition: all 0.6s ease-in;
  opacity: 0;
}

.card--disabled .great-job__thumbsup {
  transform: translateY(-40px);
  transition: all 0.6s ease-in 0.1s;
  opacity: 0;
} */

.great-job__position{
  font-size: 1.3em;
}

.great-job__thumbsup {
  width: 100px;
  height: 100px;
}

.card-count-1 .great-job__thumbsup,
.card-count-2 .great-job__thumbsup,
.card-count-3 .great-job__thumbsup {
  width: 200px;
  height: 200px;
}

/* THUMBS UP */
/* .thumb__a,
.thumb__b {
  transform: scale(0);
  transform-origin: center;
  transition-timing-function: cubic-bezier(0.42,0,1.2,1);
  transition: transform 0.3s;
  transition-delay: 0.3s;
}

.card--finished .thumb__a,
.card--finished .thumb__b {
  transform: scale(1);
} */

/* .thumb__thumb {
  transform: translateY(-48px) translateX(17px) scale(0.9,0.9) rotate3d(1, 1, 1, 40deg);
  transform-origin: 0% 50%;
  transition-timing-function: cubic-bezier(0.42,0,0.58,1);
  transition: all 0.3s;
  transition-delay: 0.5s;
  opacity: 0;
}

.card--finished .thumb__thumb {
  transform-origin: 0% 50%;
  transform: translateY(-48px) translateX(17px) scale(1,1) rotate3d(1, 1, 1, 15deg);
  opacity: 1;
} */

/* .card--disabled {
  filter: grayscale(1) contrast(1) blur(2px);
  opacity: 0.2;
  transform: scale(.95,.95);
  cursor: default;
} */

.welcome__container {
  position: relative;
  display: flex;
  flex: 1;
}

.w-text-a {
  font-size: 0.5em;
}

svg {
  overflow: visible;
}

.welcome {
  margin: 5%;
  animation: fadeIn 1s;
}

.performance {
  background-color: #54d15c;
  border-radius: 8px;
  color: #1f1530;
  text-align: center;
  padding: 10px;
  font-weight: 900;
  margin-bottom: 15px;
  display: none;
}

.performance > div:first-child {
  font-size: 1.4rem;
}

.performance > div:last-child {
  font-size: 1.9rem;
}

.performance {
  background-color: #54d15c;
  border-radius: 8px;
  color: #1f1530;
  text-align: center;
  padding: 15px;
}

.strain {
  display: none;
}

.strain__progress {
  height: 20px;
  overflow: hidden;
  background-color: #212257;
  border-radius: 20px;
}

.strain__slider {
  background-color: #3756fc;
  height: 100%;
}

.strain__val {
  font-size: 1.7rem;
  font-weight: 900;
  margin-right: 10px;
}

.strain__label {
  font-weight: 300;
}

.strain__head {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.fat-carb__footer {
  align-content: space-around;
  margin-top: 10px;
  display: none;
}

.card--performance .fat-carb__footer {
  display: flex;
}

.card--performance .fat-carb__head {
  display: none;
}

.fat-carb__footer > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  font-weight: bold;
}

.fat-carb__footer > div:last-child {
  align-items: flex-end;
}


.fat-carb__footer > div > div{
  font-size: 1rem;
  font-weight: 300;
}

.card--performance .performance,
.card--performance .strain {
  display: flex;
  flex-direction: column;
}


@keyframes fadeIn {
  from { transform: translateY(40px); opacity: 0};
  to { transform: translateY(0px); opacity: 1};
}


@media only screen and (max-width: 1400px) {
  .sidebar {
    font-size: 1.4em;
  }

  .card h2 {
    font-size: 1.2em;
  }
  .card h4 {
    font-size: 1em;
    margin-bottom: 10px;
  }

  .fat-carb__val {
    font-size: 1.2em;
  }

  .fat-carb__progress {
    height: 10px;
  }

  .great-job__title {
    font-size: 1.5em;
    padding: 0 15px;
    margin-bottom: 10px;
  }

  .great-job__thumbsup {
    width: 60px;
    height: 60px;
  }

  .card-count-1 .great-job__thumbsup,
  .card-count-2 .great-job__thumbsup,
  .card-count-3 .great-job__thumbsup {
    width: 100px;
    height: 60px;
  }

  .card-count-1 .card__title,
  .card-count-2 .card__title,
  .card-count-3 .card__title {
    padding: 0 20px;
    font-size: 1.5em;
  }

  .performance {
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .performance > div:first-child {
    font-size: 1rem;
  }

  .performance > div:last-child {
    font-size: 1.3rem;
}

.strain__head {
  margin-bottom: 5px;
}

.strain__val {
  font-size: 1.2rem;
}

.strain__progress {
  height: 10px;
  border-radius: 10px;
}
}